<div class="ae-grid au-xs-ta-center au-mb-4">
  <div class="ae-grid__item item-lg-4 ae-kappa au-mb-3"><img src="assets/img/team-1.jpg" alt="" class="au-mb-3">
    <h5 class="ae-u-bolder au-mt-2">Marcos Ramirez</h5>
    <p class="ae-u-bolder au-mb-3">Programador</p>
    <p class="au-lg-ta-left au-mb-3 au-pl-4 au-pr-4">Estudiante de programacion para internet a creado este sitio en angular</p><a href="#0" class="ae-u-bolder au-underline">@marcoRamirez</a>
  </div>

</div>
<div class="ae-grid au-pt-2">
  <div class="ae-grid__item item-lg-8 item-lg--offset-2">

</div>
